<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.30" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="Tesseract" version="3.3.0" targetFramework="net472" />
  <package id="Tesseract-OCR" version="1.0.4" targetFramework="net472" />
</packages>